@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h3 class="display-4">Contact</h1>
    <br>
</div>

<div>
    <hr>
    <h5>Tel: 123-456-789</h3>
    <hr>
    <h5>Address: ul. abc 12, Warszawa</h3>
    <hr>
</div>
