@model DotnetMvcDemoCars.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doorsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doorsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distanceTravelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distanceTravelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProduceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProduceDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
