@model DotnetMvcDemoCars.Models.Car

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doorsNumber" class="control-label"></label>
                <input asp-for="doorsNumber" class="form-control" />
                <span asp-validation-for="doorsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distanceTravelled" class="control-label"></label>
                <input asp-for="distanceTravelled" class="form-control" />
                <span asp-validation-for="distanceTravelled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProduceDate" class="control-label"></label>
                <input asp-for="ProduceDate" class="form-control" />
                <span asp-validation-for="ProduceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
