@model IEnumerable<DotnetMvcDemoCars.Models.Car>

@{
    ViewData["Title"] = "Car";
}

<h1 style="text-align: center">Car catalog</h1>
<br>
<br>

<p>
    <a asp-action="Create" class="btn btn-success">New Car</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doorsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distanceTravelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduceDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doorsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distanceTravelled) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProduceDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
